# Flutter/Dart/Pub 関連（キャッシュ、ビルド成果物など）
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# iOS 用自動生成ファイル（iOS ビルド成果物）
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# Android 用ビルド成果物
android/app/build/

# OS 関連
.DS_Store

# IDE 関連
.idea/
*.iml
.vscode/